<h1>Agregar Producto</h1>
<hr />
<form class="mb-5" [formGroup]="myForm">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label class="col-form-label">Nombre</label>
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" formControlName="name" />
    </div>
    <div class="col-auto">
      <span appErrMsg [msg]="text" [color]="color" [valid]="!hasError('name')">
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary me-2" type="submit">Guardar</button>
      <button
        class="btn btn-secondary me-2"
        type="button"
        (click)="changeName()"
      >
        Cambiar nombre
      </button>
      <button class="btn btn-secondary" type="button" (click)="changeColor()">
        Cambiar color
      </button>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<pre>Value: {{ myForm.value | json }}</pre>
<pre>Valid: {{ myForm.valid }}</pre>

<div *appCustomIf="myForm.valid" class="row mt-5">
  <div class="col">
    <div class="alert alert-primary">Todo OK!</div>
  </div>
</div>
